.config/mpd/mpd.log
.config/mpd/state/
.config/qutebrowser/autoconfig.yml
.config/mpd/tag_cache
.config/nvim/lazy-lock.json
.config/qutebrowser/qsettings/QtProject.conf
.config/hypr/config/colors.conf
.config/superfile/theme/wallust.toml
.config/wofi/wallust-style.css
