nebu-mpd/.config/mpd/mpd.log
nebu-mpd/.config/mpd/state/
nebu-qutebrowser/.config/qutebrowser/autoconfig.yml
nebu-mpd/.config/mpd/tag_cache
nebu-nvim/.config/nvim/lazy-lock.json
nebu-qutebrowser/.config/qutebrowser/qsettings/QtProject.conf
nebu-hypr/.config/hypr/config/colors.conf
nebu-spf/.config/superfile/theme/wallust.toml
nebu-wofi/.config/wofi/wallust-style.css
nebu-wlogout/.config/wlogout/style.css
nebu-wofi/.config/wofi/style.css
nebu-chat/.config/weechat/sec.conf
nebu-chat/.config/weechat/irc.conf
nebu-chat/.config/weechat/relay.conf
