:root {
  --cc-bg: rgba({{color0 | rgb}}, 0.7);
  --noti-border-color: rgba({{foreground | rgb}}, 0.15);
  --noti-bg: {{color0 | rgb}}; /* utilisé uniquement si RGB attendu */
  --noti-bg-alpha: 0.8;
  --noti-bg-darker: rgb({{color1 | rgb}});
  --noti-bg-hover: rgb({{color2 | rgb}});
  --noti-bg-focus: rgba({{color2 | rgb}}, 0.6);
  --noti-close-bg: rgb({{color3 | rgb}});
  --noti-close-bg-hover: rgb({{color4 | rgb}});
  --text-color: rgb({{foreground | rgb}});
  --text-color-disabled: rgb({{color7 | rgb}});
  --bg-selected: rgb({{background | rgb}});
  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
}
